<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599224735397-dams2kjr1hcr50vc28p0fp5mgdoimtsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599224735397-dams2kjr1hcr50vc28p0fp5mgdoimtsv</string>
	<key>API_KEY</key>
	<string>AIzaSyAl9pqG8X0hUOkiDUFs2rcc2ECt1NNmP5E</string>
	<key>GCM_SENDER_ID</key>
	<string>599224735397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mvpworking</string>
	<key>PROJECT_ID</key>
	<string>pothole-detection-1fe25</string>
	<key>STORAGE_BUCKET</key>
	<string>pothole-detection-1fe25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599224735397:ios:f5b837e24a1a4a9e0c9f4c</string>
</dict>
</plist>